<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.arvin.mapper.user.UserAuthsMapper">

    <resultMap id="BaseResultMap" type="org.arvin.model.user.UserAuths">
            <result property="id" column="id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="identityType" column="identity_type" jdbcType="VARCHAR"/>
            <result property="identifier" column="identifier" jdbcType="VARCHAR"/>
            <result property="credential" column="credential" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,identity_type,
        identifier,credential
    </sql>
</mapper>
